page-blog {
    .bg{
        background: linear-gradient(to bottom, rgb(213, 209, 209) 0%, white 100%);
    }
    .red{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .opis{
        height: 130px;
        
    }
}
    