page-job {

    .bg{
        background: linear-gradient(to bottom, rgb(213, 209, 209) 0%, white 100%);
    }

    .objavi{
        background-color: blue;
        width: 100%
    }

    .trazi{
        background-color: blue;
        width: 45%;
        margin-left: 55%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
}