<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Posao</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
        <ion-row>
            <button ion-button class="objavi" round (click)="offer()">Objavi ponudu</button>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Grad</ion-label>
                    <ion-select [(ngModel)]="grad">
                        <ion-option *ngFor="let item of gradovi" value="{{item.naziv}}">{{item.naziv}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
                <ion-col col-6>
                  <ion-item>
                      <ion-label>Oblast</ion-label>
                      <ion-select [(ngModel)]="oblast">
                        <ion-option value="IT">IT</ion-option>
                        <ion-option value="Arhitektura">Arhitektura</ion-option>
                        <ion-option value="Masinstvo">Mašinstvo</ion-option>
                        <ion-option value="Gradjevina">Građevina</ion-option>
                        <ion-option value="Likovna">Likovna umjetnost</ion-option>
                        <ion-option value="Medicina">Medicina</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <button ion-button class="trazi" round (click)="search()">Traži</button>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-list-header class="list-header">
          Rezultati
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of jobs">
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/icon/favicon.ico">
              </ion-avatar>
              <h2>{{item.naslov}}</h2>
              <h3>{{item.firma}}</h3>
              <p>{{item.grad}}</p>
          </ion-item>
            <ion-item-options side="left">
              <button ion-button color="primary">
                <ion-icon name="call"></ion-icon>
                Call
              </button>
              <button ion-button color="secondary">
                <ion-icon name="mail"></ion-icon>
                Email
              </button>
            </ion-item-options>
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="openURL()">
                <ion-icon name="more"></ion-icon>
                Više
              </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
  </ion-content>
  