<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Univerziteti</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-item>
          <ion-label>Grad</ion-label>
          <ion-select [(ngModel)]="grad">
              <ion-option *ngFor="let item of gradovi" value="{{item.naziv}}">{{item.naziv}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <button ion-button class="trazi" round (click)="getUni()">Traži</button>
    </ion-row>
    </ion-grid>
    <ion-list>
        <ion-list-header class="list-header">
          Rezultati
        </ion-list-header>
          <ion-item *ngFor="let item of uni" (click)="openMap(item.id)">
            <ion-grid  class="bg"></ion-grid>>
              <ion-row><h3>{{item.naziv}}</h3></ion-row>
              <ion-row><p>{{item.grad}}</p></ion-row>
            </ion-grid>
          </ion-item>
      </ion-list>    
    
    </ion-content>
    
    
  